.footer-biketours{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  display: flex;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-biketours .footer-left,
.footer-biketours .footer-center,
.footer-biketours .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-biketours .footer-left{
  width: 40%;
}

/* The company logo */

.footer-biketours h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-biketours h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-biketours .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-biketours .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-biketours .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-biketours .footer-center{
  width: 35%;

}

.footer-biketours .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-biketours .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-biketours .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-biketours .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-biketours .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-biketours .footer-right{
  width: 20%;
}

.footer-biketours .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-biketours .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-biketours .footer-icons{
  margin-top: 25px;
}

.footer-biketours .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}



@media (max-width: 880px) {

  .footer-biketours{
    font: bold 14px sans-serif;
  }

  .footer-biketours .footer-left,
  .footer-biketours .footer-center,
  .footer-biketours .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-biketours .footer-center i{
    margin-left: 0;
  }

}


@media (max-width: 768px) {
  .footer-biketours {
    flex-direction: column;
  }
  .footer-center{
    order:0;
  }
  .footer-right{
    order:2;
  }
  .footer-left{
    order:3;
  }
}