.bike-navbar-container {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  &.bg-inverse {
    background-color: $color_tuna_approx;
  }
}
.navbar-toggler {
  border: 1px solid $white;
  border-radius: 0;
  color: $white;
}
.header-logo-container{
  position: relative;
  top:0px;
  left:0;
  right:0;
  margin: 0 auto;
  display: inline-block;

  width:100%;
  min-height:200px;
  img{
    max-width:100px;
    position: absolute;
    top:20px;
    left:0;
    right:0;
    margin: auto;
    z-index:9999;
  }
}