@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

body {
line-height: 1;
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
content: "";
content: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

*:focus {
outline: none;
}

html {
font-size: 10px;
}

.page-wrapper {
overflow: hidden;
}

.slick-slide {
height: 200px;
}

.bike-navbar-container {
background-color: rgba(0, 0, 0, .33);
height: 80px;
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
transition: all .3s ease;
}
  .bike-navbar-container.bg-inverse {
background-color: #373a3c;
}

.bike-navbar-container-dark {
background-color: #373a3c;
box-shadow: none;
}

.navbar-toggler {
border: 1px solid white;
border-radius: 0;
color: white;
}

.header-logo-container {
position: relative;
top: 20px;
left: 0;
right: 0;
margin: 0 auto;
display: inline-block;
max-width: 150px;
width: 100%;
min-height: 200px;
}

a:hover, a:focus {
color: #4ea7ff;
text-decoration: none;
outline: none;
}

body {
font-family: Open Sans, Helvetica, Arial, sans-serif;
font-size: 1.9rem;
font-weight: 100;
}
  body.page-2 {
padding-top: 80px;
}

a {
transition: all .3s ease;
color: #666666;
}

button {
transition: all .3s ease;
}
  button:focus {
outline: none;
}

p {
color: #666666;
}

h3 {
margin-bottom: 2.5rem;
}

.bike-container {
max-width: 1200px;
margin: 0 auto;
}

.bike-container-wide {
max-width: 1230px;
}

.bike-intro {
background: url(../img/home-bg.jpg) no-repeat;
background-attachment: fixed;
background-position: left top;
background-size: 100% 750px;
color: white;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
height: 750px;
}

.bike-logo {
margin-bottom: 30px;
}

.bike-site-name {
margin-bottom: 40px;
-ms-flex: 0 1 auto;
flex: 0 1 auto;
}

.bike-intro-text {
margin-bottom: 45px;
-ms-flex: 0 1 auto;
flex: 0 1 auto;
color: white;
font-size: 2.4rem;
}

#bike-section-1 {
-ms-flex: 0 1 auto;
flex: 0 1 auto;
padding-bottom: 0;
}

.bike-section-1-inner {
-ms-flex: 0 1 auto;
flex: 0 1 auto;
padding-top: 12%;
}

.bike-intro-link {
border: 2px solid white;
border-radius: 50px;
color: white;
display: inline-block;
padding: 15px 60px;
color: white;
font-size: 2.4rem;
}
  .bike-intro-link:hover {
color: black;
background-color: white;
}
  .bike-intro-link:focus {
color: black;
background-color: white;
}

.gray-bg {
background-color: #f4f4f4;
}

.dark-gray-text {
color: #666666;
}

.blue-text {
color: #006699;
}

.light-blue-text {
color: #4ea7ff;
}

.btn {
border-radius: 50px;
font-size: 1em;
padding: .5em 2.5em;
margin: .25em;
}

.btn-lg {
font-size: 1.75rem;
font-weight: 300;
padding: 10px 60px;
}

.bike-gray-btn {
background-color: #666666;
border: 2px solid #666666;
color: white;
}
  .bike-gray-btn:hover {
background: transparent;
color: #666666;
}
  .bike-gray-btn:focus {
background: transparent;
color: #666666;
}

.bike-gray-bordered-btn {
background: transparent;
border: 2px solid #666666;
color: #666666;
}
  .bike-gray-bordered-btn:hover {
background: #666666;
color: white;
}
  .bike-gray-bordered-btn:focus {
background: #666666;
color: white;
}

.bike-light-blue-bordered-btn {
background: transparent;
border: 2px solid #4ea7ff;
color: #4ea7ff;
}
  .bike-light-blue-bordered-btn:hover {
background: #4ea7ff;
color: white;
}
  .bike-light-blue-bordered-btn:focus {
background: #4ea7ff;
color: white;
}

.bike-blue-btn {
background: #006699;
border: 2px solid #006699;
color: white;
}
  .bike-blue-btn:hover {
background: transparent;
color: #006699;
}

.bike-blue-bordered-btn {
background: transparent;
border: 2px solid #006699;
color: #006699;
}
  .bike-blue-bordered-btn:hover {
background: #006699;
color: white;
}
  .bike-blue-bordered-btn:focus {
background: #006699;
color: white;
}

.bike-green-btn {
background: #006666;
border: 2px solid #006666;
color: white;
}
  .bike-green-btn:hover {
background: transparent;
color: #006666;
}
  .bike-green-btn:focus {
background: transparent;
color: #006666;
}

.bike-green-bordered-btn {
background: transparent;
border: 2px solid #006666;
color: #006666;
}
  .bike-green-bordered-btn:hover {
background: #006666;
color: white;
}
  .bike-green-bordered-btn:focus {
background: #006666;
color: white;
}

.bike-section {
padding-top: 5%;
padding-bottom: 5%;
overflow: auto;
}

.bike-footer {
padding-bottom: 20px;
overflow: auto;
}

.bike-news-item {
margin: 0 auto 5% auto;
display: -ms-flexbox;
display: flex;
padding-left: 15px;
padding-right: 15px;
}
  .bike-news-item:last-child {
margin-bottom: 0;
}

.bike-news-item-img {
margin: 0 auto;
width: 100%;
}

.bike-news-item-img-container {
padding: 0;
}

.bike-news-container {
background-color: white;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: center;
justify-content: center;
padding-left: 3%;
padding-right: 3%;
}

.bike-news-title {
font-weight: 600;
margin-bottom: 30px;
font-size: 2.5rem;
}

.bike-news-text {
line-height: 1.8;
}

.bike-news-link {
margin-right: 0;
margin-left: auto;
-ms-flex-item-align: end;
align-self: flex-end;
}

.flex-order-1 {
-ms-flex-order: 1;
order: 1;
}

.flex-order-2 {
-ms-flex-order: 2;
order: 2;
}

.bike-title {
font-size: 4.3rem;
margin-bottom: 40px;
}

.margin-b-5 {
margin-bottom: 5px;
}

.bike-img-grid {
margin-top: 60px;
overflow: auto;
}

.bike-gallery-img {
width: 100%;
height: auto;
height: 225px;
}

.bike-gallery-img-container {
max-width: 300px;
width: 25%;
float: left;
}

.form-control {
border-color: transparent;
border-radius: 0;
font-size: 1.2rem;
padding: .75rem;
}

.form-group {
margin-bottom: 1.8rem;
}

.bike-form-group-left {
padding-left: 0;
}

.bike-form-group-right {
padding-right: 0;
}

.bike-subtitle {
font-size: 2.5rem;
margin-bottom: 30px;
}

#tmNavbar {
text-align: center;
}

.bike-banner-img {
display: block;
margin: 0 auto;
}

.bike-description {
line-height: 1.8;
margin: .5em 1.5em 1em;
}

.bike-page-2-title {
font-size: 4.2rem;
margin-bottom: 30px;
}

.bike-page-2-subtitle {
margin-bottom: 60px;
}

.bike-page-2-p {
font-size: 2.2rem;
line-height: 1.6;
}

.bike-flex-center {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.bike-img-2-col {
margin-bottom: 2em;
margin-left: auto;
margin-right: auto;
}

.bike-3-col-box {
max-width: 500px;
margin-left: auto;
margin-right: auto;
}

.bike-description-box {
padding: 6%;
}

.bike-description-text {
margin-bottom: 1.5em;
}

.bike-footer-text {
margin-bottom: 1.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
background-color: #f2f2f2;
}

.navbar-nav .nav-link {
padding: 14px 15px;
color: white;
color: white;
font-size: 1.8rem;
}
  .navbar-nav .nav-link:focus {
color: white;
}
  .navbar-nav .nav-link.active {
color: #4ea7ff;
}
  .navbar-nav .nav-link:hover {
color: #4ea7ff;
}

.page-2 .container-fluid {
max-width: 1140px;
}

/* Slider */
.slick-slider {
position: relative;
display: block;
box-sizing: border-box;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-ms-touch-action: pan-y;
touch-action: pan-y;
-webkit-tap-highlight-color: transparent;
}

.slick-list {
position: relative;
overflow: hidden;
display: block;
margin: 0;
padding: 0;
}
  .slick-list:focus {
outline: none;
}
  .slick-list.dragging {
cursor: pointer;
cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}

.slick-track {
position: relative;
left: 0;
top: 0;
display: block;
margin-left: auto;
margin-right: auto;
}
  .slick-track:before, .slick-track:after {
content: "";
display: table;
}
  .slick-track:after {
clear: both;
}
  .slick-loading .slick-track {
visibility: hidden;
}

.slick-slide {
float: left;
height: 100%;
min-height: 1px;
display: none;
}
  [dir="rtl"] .slick-slide {
float: right;
}
  .slick-slide img {
display: block;
}
  .slick-slide.slick-loading img {
display: none;
}
  .slick-slide.dragging img {
pointer-events: none;
}
  .slick-initialized .slick-slide {
display: block;
}
  .slick-loading .slick-slide {
visibility: hidden;
}
  .slick-vertical .slick-slide {
display: block;
height: auto;
border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
display: none;
}

/* Slider */
.slick-loading .slick-list {
background: #ffffff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
font-family: "slick";
src: url("./fonts/slick.eot");
src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
font-weight: normal;
font-style: normal;
}

/* Arrows */
.slick-prev, .slick-next {
position: absolute;
display: block;
height: 20px;
width: 20px;
line-height: 0;
font-size: 0;
cursor: pointer;
background: transparent;
color: transparent;
top: 50%;
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
padding: 0;
border: none;
outline: none;
}
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
outline: none;
background: transparent;
color: transparent;
}
    .slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
opacity: 1;
}
  .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
opacity: .25;
}
  .slick-prev:before, .slick-next:before {
font-family: "slick";
font-size: 20px;
line-height: 1;
color: white;
opacity: .75;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
left: -25px;
}
  [dir="rtl"] .slick-prev {
left: auto;
right: -25px;
}
  .slick-prev:before {
content: "←";
}
    [dir="rtl"] .slick-prev:before {
content: "→";
}

.slick-next {
right: -25px;
}
  [dir="rtl"] .slick-next {
left: -25px;
right: auto;
}
  .slick-next:before {
content: "→";
}
    [dir="rtl"] .slick-next:before {
content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
margin-bottom: 30px;
}

.slick-dots {
position: absolute;
bottom: -25px;
list-style: none;
display: block;
text-align: center;
padding: 0;
margin: 0;
width: 100%;
}
  .slick-dots li {
position: relative;
display: inline-block;
height: 20px;
width: 20px;
margin: 0 5px;
padding: 0;
cursor: pointer;
}
    .slick-dots li button {
border: 0;
background: transparent;
display: block;
height: 20px;
width: 20px;
outline: none;
line-height: 0;
font-size: 0;
color: transparent;
padding: 5px;
cursor: pointer;
}
      .slick-dots li button:hover, .slick-dots li button:focus {
outline: none;
}
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
opacity: 1;
}
      .slick-dots li button:before {
position: absolute;
top: 0;
left: 0;
content: "•";
width: 20px;
height: 20px;
font-family: "slick";
font-size: 6px;
line-height: 20px;
text-align: center;
color: black;
opacity: .25;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
    .slick-dots li.slick-active button:before {
color: black;
opacity: .75;
}
    @media (min-width: 768px) {
.bike-contact-form {
margin-right: 20px;
}
  .navbar .navbar-nav {
display: inline-block;
float: none;
vertical-align: top;
}
}
    @media (max-width: 1100px) and (min-width: 992px) {
h2 {
font-size: 1.6rem;
}
  .bike-news-title {
margin-bottom: 12px;
}
  .bike-news-text {
font-size: .9em;
margin-bottom: .5em;
}
  .btn {
padding-top: .3em;
padding-bottom: .3em;
}
}
    @media (max-width: 1199px) {
h2 {
font-size: 1.8rem;
}
  .bike-news-title {
margin-bottom: 15px;
}
  .bike-news-text {
line-height: 1.6;
}
}
    @media (max-width: 991px) {
.navbar-nav .nav-link {
font-size: 1.7rem;
}
  .navbar-nav .nav-item + .nav-item {
margin-left: 0;
}
  .bike-news-item {
-ms-flex-direction: column;
flex-direction: column;
}
  .bike-news-container {
padding: 1.5em;
margin: 0 auto;
max-width: 600px;
}
  .flex-order-2 {
-ms-flex-order: 1;
order: 1;
}
  .flex-order-1 {
-ms-flex-order: 2;
order: 2;
}
}
    @media (max-width: 940px) {
.bike-img-grid {
margin-left: auto;
margin-right: auto;
max-width: 900px;
}
  .bike-gallery-img-container {
width: 33.333%;
}
}
    @media (max-width: 767px) {
.bike-page-2-subtitle {
margin-bottom: 30px;
}
  .navbar-toggler {
display: block;
margin-left: auto;
margin-right: 0;
}
  .bike-navbar-container {
background: none;
box-shadow: none;
height: 54px;
}
  .bike-navbar-container.bg-inverse .navbar {
background-color: #373a3c;
}
  .navbar {
background-color: rgba(0, 0, 0, .2);
}
  .bg-inverse {
background-color: #373a3c;
}
  .bike-form-group-left {
padding-right: 0;
}
  .bike-form-group-right {
padding-left: 0;
}
  .margin-top-xs-50 {
margin-top: 50px;
}
  .margin-bottom-sm-8 {
margin-bottom: 8%;
}
  .margin-bottom-sm-3 {
margin-bottom: 3%;
}
  .home .bike-section {
padding-top: 10%;
padding-bottom: 10%;
}
  body.page-2 {
padding-top: 54px;
}
  .navbar-nav .nav-item {
float: none;
}
  .navbar-nav .nav-item + .nav-item {
margin-left: 0;
}
}
    @media (max-width: 640px) {
.bike-gallery-img-container {
width: 50%;
}
  .bike-img-grid {
max-width: 600px;
}
  .page-2 .bike-section {
padding-top: 7%;
padding-bottom: 7%;
}
}
    @media (max-width: 600px) and (max-height: 600px) {
.bike-intro {
height: 100vh;
min-height: 600px;
}
}
    @media (max-width: 1800px) {
.bike-intro {
background-size: 1800px 750px;
}
}
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.bike-intro {
background-attachment: scroll;
}
}
