<!-- CONDTIONS STARTS -->
<section class="conditions" id="conditions">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">
                    <h2 class="bike-sectionHeading">
                      Terms
                    </h2>
                    <p class="text-center">
                      Please, read the informations before joining our tours
                    </p>
                </h2>
            </div>
            <div class="col-md-6 col-xs-12 inf-wrap">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    General info
                                </a>
                            </h4>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                              <ul>
                        <li>our tours are suitable for confident cyclists;</li>
                        <li>"Mienski vielašpacyr" tours (English: "Miensk bike tour") are not difficult, at medium
                            speed, with many breaks on the way;
                        </li>
                        <li>children under 14 can take part in the tours with their parents or close relatives only;
                            in such a case that adults have to take responsibility for that children and testify it with
                            their personal sign before the tour;
                        </li>
                        <li>children from 14 through 17 inclusive can participate in the tours without their parents or
                            close relatives, but with their written permission composed in the presence of our guide;
                        </li>
                        <li>drunk, intoxicated, pregnant are not allowed to join the tours;</li>
                        <li>for regular public* tours: participants are supposed to be at <a href="page+mapa-eng.html">meeting point</a>
                        10 minutes before the tour;
                        </li>
                        <li>our regular public tours run in Belarusian or Russian;
                        </li>
                    </font></ul>
                                <p>
                                    *public tour is an open tour accessible for everyone; as a rule, they say "public tour" when they want to differ it from an individual, private tour, booked by an individual or a private groupe
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="mdi mdi-chevron-up arrow"></i>
                                    Bicycles
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                              <ul>
                                <li>for the tours you can use any bike in good working condition;</li>
                                <li>we can arrange your bicycle hire with delivery to the <a href="page+mapa-eng.html">meeting
                                    point</a> (<strong>an average bicycle hire charge for 3 hours with delivery is 10 BYN</strong>;
                                    an exact bicycle hire charge depends on route's duration, <a href="page+mapa-eng.html">meeting
                                    point</a>, number of bikes you need - <a href="#kantakty">contact us</a> for details);
                                </li>
                                <li>please, note that when you rent a bicycle your ID card or some other equel document is
                                    requied;
                                </li>
                                <li>for regular public tours: "Mienski vielašpacyr" does not guarantee that there will be free
                                    bikes to rent;
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSafe">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingSafeBlock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Safety
                                </a>
                            </h4>
                        </div>
                        <div id="headingSafeBlock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingSafe">
                            <div class="panel-body">
                              <ul>
                      <li>all participants of the tours of "Mienski velaspacyr" are <strong>obligated to know and to
                          obey the following rules of safety cycling</strong>, composed on base of <a href="page+pdr-eng.html">the Chapter 20 of the Rules of the road of the Republic of
                          Belarus ("Traffic on cycles and mopeds")</a>:
                      </li>
                      <li>participants of our tours can ride at cycle tracks and pedestrian zone only, dismounting
                          to cross the street when needed (it is allowed to cross a street without dismounting when
                          the crossroad is marked with the appropriate sign);
                      </li>
                      <li>as an exception, if there is no other way, after guide's permission only, it is allowed to
                          cycle on the carriageway, riding in one line not further than 1 meter from its right edge;
                      </li>
                      <li>during a tour all the participants have to ride in one line (as a column), not overtaking
                          each other, with min. distance 3 m. between each other;
                      </li><li>outside intersections on an unregulated crossing of the cycle path with a road, a cyclist
                          is obliged to give way to vehicles travelling on the road;
                      </li>
                      <li>when moving on the road at night-time and/or at insufficient visibility, a cyclist must have
                          turned on: in front — headlight (headlamp) emitting white light, on the back — lamp emitting
                          red light;
                      </li>
                      <li>cyclists are prohibited to use technically defective cycles; all the participants of our
                          tours are responsible for the technical condition of their bikes personally; a bicycle
                          rental office is also responsible for the bicycles it gives for rent;
                      </li>
                      <li>cyclists are prohibited to ride without holding the handlebars and/or holding foots on
                          pedals (steps);
                      </li>
                      <li>cyclists are prohibited to carry passengers, except of cases of carriage on the cycle of
                          children under the age of seven in additionally equipped seat or when the carriage of
                          passengers is provided by the bicycle construction;
                      </li>
                      <li>cyclists are prohibited to carry load which projects more than 0,5 meters in their length or
                          width out of dimensions of the vehicle, and also load interfering with driving of such
                          vehicle;
                      </li>
                      <li>towing of a cycle and by a cycle is prohibited;</li>
                      <li>it's not necessary to use a helmet when cycling; anyway, the participants are
                          responsible for their decision about using or not using helmets during the tours;
                      </li>
                      <li><strong>a participant of a tour who causes an accident is liable for it </strong>(all the
                          cases should be approached individually);
                      </li>
                      <li>before a tour all the participants have to sign personally that they got acquainted with
                          the rules and they are ready to obey them;
                      </li>
                  </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingWeather">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingWeatherBlock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                  Weather
                                </a>
                            </h4>
                        </div>
                        <div id="headingWeatherBlock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingWeather">
                            <div class="panel-body">
                              <ul>
                                  <li>our tours run rain or sunshine, which can't be a reason to cancel the tour and refund money to
                                      the client (<a href="#kampensacja">see "Money refund"</a>);
                                  </li>
                                  <li>"Mienski vielašpacyr" has a right to take a decision if the weather is appropriate for
                                      making a tour or not;
                                  </li>
                                  <li>if it is rain, we have raincoats for your use for free;</li>
                                  <li>in case of extraordinary events (as well as adverse weather)
                                      we hold the right to cancel or change the time of a tour, make it shorter ,with
                                      refunding, refunding partly or not refunding money to the clients (<a href="#kampensacja">see "Money refund"</a>);
                                  </li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Prices
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                              <ul>
                                  <li>the prices for individual (private) and regular public tours are on the pages of the tours
                                      (choose one of <a href="page2-eng.html">our tours</a>);
                                  </li>
                                  <li>we provide 15% discount for all of our tours (except an individual tour for 1-3 persons) for
                                      students (not depends on their citizenship), for pensioners and art workers (citizens of the
                                      Republic of Belarus), ID card is required;
                                  </li>
                                  <li>our tours are always free for the combatants of the battle near Orsza in 1514, and for the
                                      insurgents of the national Belarusian uprising in 1863;
                                  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingPayment">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingPaymentblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    How to pay
                                </a>
                            </h4>
                        </div>
                        <div id="headingPaymentblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                              <ul type="circle">
                                <li>before the tour starts you can pay for it at <a href="page+mapa-eng.html">the meeting
                                    point</a> to our tour guide (only cash);
                                </li>
                                <li>before paying for a tour in advance (not later than 24 hours before the tour starts) it is
                                    necessary <a href="#footer"> to contact us</a>;
                                </li>
                                <li>you can pay for a tour in advance (not later than 24 hours before the tour starts) by:</li>
                                <li> - making a transfer of a necessary amount to our account for Belarusian Roubles (BYN) #
                                    BY87 BLNB 3013 0000 0724 5300 0933, BIC (bank ID-code): BLNB BY2X; Open Joint Stock Company “Belarusky narodny bank”, code 765; for private
                                    businessman R.M. Abramchuk, UNP (taxpayer ID number) # 192 201 977;
                                </li>
                                <li> - paying to our guide (cash only) before any regular public tour at <a href="page+mapa-eng.html">the meeting point</a>;
                                </li>
                                <li>for public regular tours:
                                    please, note, the number of the participants in a group is limited, therefore it is better
                                    to pay for the tour in advance;
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingComp">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingCompblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Money refund
                                </a>
                            </h4>
                        </div>
                        <div id="headingCompblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                              <ul>
                        <li>if a participant pass a group during a tour no money is refund;</li>
                        <li>if you pay in advance, but arrive late for the tour and can’t find your group, no money is
                            refund;
                        </li>
                        <li>if you pay for a tour in advance but you can't take part in it, please,
                            <a href="#kantakty">inform <em>us</em></a> about your absence <em> not later than 24 hrs.
                                before the tour</em>. In such a case,
                            you’ll get a full refund or will be able to join the next tour for the same price;
                        </li>
                        <li>if you pay for a tour in advance but you can't take part in it,
                            and if you <a href="#kantakty"><em>inform us</em></a> about your absence <em> not later than
                                30 min. before a tour</em>,
                            you’ll get a 50% refund or you’ll be able to join the next tour for the same price;
                        </li>
                        <li>if you pay for a tour in advance, but you can't take part in it,
                            and you inform us less than 30 min. before the tour or you do not inform us at all, no money
                            is refund;
                        </li>
                        <li>if because of extraordinary events or adverse weather, that become obvious less than 24 hrs.
                            before a tour,
                            the tour-guide cancels the tour or change its start time, or make it shorter for more
                            than a half (as for route),
                            we would refund a half of the money you've payed for the tour or suggest you to join the next tour
                            for the same price;
                        </li>
                        <li>if because of extraordinary events or adverse weather, that become obvious more than 24 hrs.
                            before a tour,
                            we cancel the tour or change its start time,
                            we could refund all the money you payed or propose you to participate in the next tour with
                            the same price;
                        </li>
                        <li>if because of extraordinary events or adverse weather the tour guide makes a tour
                            shorter (as for route), but the most part of it is already realized, no money would be
                            refund;
                        </li>
                    </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingGroup">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingGroupblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                  Number of the participants in a group
                                </a>
                            </h4>
                        </div>
                        <div id="headingGroupblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                              <ul>
                                  <li>max. number of the participants in a group is 15 persons, so, as for a public tour
                                      it is better to pay in advance to be sure about your place in a group (see <a href="#aplata">"How to pay")</a>;
                                  </li>
                                  <li>min. number of the participants in a group is 1 person;</li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTime">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingTimeblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                  Time, duration, timetable of our tours
                                </a>
                            </h4>
                        </div>
                        <div id="headingTimeblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                              <ul type="circle">
                                  <li>public tours, which are in Belarusian and Russian, run regularly since May untill September inclusive
                                      (and even besides that, if the weather is appropriate) according to the schedule that could
                                      be found on <a href="page+mapa-bel.html">Belarusian</a> or <a href="page+mapa-rus.html">Russian</a>
                                      version of the website, on <a href="https://www.facebook.com/mienski.vielaspacyr">Facebook</a> and <a href="http://vk.com/mienski.vielaspacyr"> Vkontakte</a> or by <a href="#kantakty">contacting
                                          us</a>;
                                  </li>
                                  <li>duration of our city tours is approx. 2-3 hours (depending on the route);</li>
                                  <li>start time and duration of an individual (private) tour should be discussed and arranged with a
                                      private tourist;
                                  </li>
                              </ul>
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingPlace">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingPlaceblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Meeting point, finish point, route, distance of the tours
                                </a>
                            </h4>
                        </div>
                        <div id="headingPlaceblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                              <ul type="circle">
                                  <li>for individual (private) tours a <a href="page+mapa-eng.html">meeting point</a> has to be arranged with a private tourist (<a href="#kantakty">contact us</a> for details);
                                  </li>
                                  <li>the Niamiha metro station exit on the side of the Sports
                                      Palace <a href="page+mapa-eng.html">(see map)</a> is the most common meeting point for our city tours (except of some specific routes, e.g. "Mysteries of the Lošycki park");
                                  </li>
                                  <li>usually, the distance of our city tours is not more than 15 km., groupes stop for breaks
                                      regularly;
                                  </li>
                              </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headinglanguage">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headinglanguageblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                  Language of the tours
                                </a>
                            </h4>
                        </div>
                        <div id="headinglanguageblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                              <ul type="circle">
                                <li>you can book an individual (private) tour in Belarusian, Russian, English, Polish, French;
                                </li>
                                <li>regular public <a href="page2-a-rus.html">sightseeing "Minsk.Best" tour</a> is in Russian;
                                </li>
                                <li>as a rule, all the rest of our regular public <a href="page2-bel.html">tours</a> are in Belarusian;
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingForcemajor">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingForcemajorblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Extraordinary events
                                </a>
                            </h4>
                        </div>
                        <div id="headingForcemajorblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                              <ul type="circle">
                                  <li>if extraordinary events (revolution/ insects attack/ meteorites falling/ adverse weather / war with Russia
                                      etc.)
                                      threaten the lives or health of the participants of a tour,
                                      the tour-guide will hold a right to cancel or change the start time of a tour, to make it shorter,
                                      refunding, refunding partly or not refunding money to tourists (<a href="#kampensacja">see "Money refund"</a>);
                                  </li>
                                  <li>if because of extraordinary events or adverse weather "Mienski vielašpacyr" cancels a public tour
                                      or changes its start time,
                                      you could find the information about it on <a href="page3-bel.html">Belarusian</a> or <a href="page3-rus.html">Russian</a> version of the website, on <a href="https://www.facebook.com/mienski.vielaspacyr">Facebook</a> and <a href="http://vk.com/mienski.vielaspacyr"> Vkontakte</a> or by <a href="#kantakty">contacting us</a>;
                                  </li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 map-col-wrap">
                <p align="center">
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Jd8koKSNHieCewMlWG4B-aIjabc" width="100%"
                            height="400px"></iframe>
                </p>

            </div>
        </div>
    </div>
</section>
