<!-- CONDTIONS STARTS -->
<section class="conditions" id="conditions">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">
                    <h2 class="bike-sectionHeading">
                        Conditions
                    </h2>
                    <p class="text-center">
                        VEUILLEZ LIRE CETTE INFORMATION NÉCESSAIRE AVANT DE SE JOINDRE À NOS VOYAGES:
                    </p>
                </h2>
            </div>
            <div class="col-md-6 col-xs-12 inf-wrap">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Information générale
                                </a>

                            </h4>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                    les personnes sachant faire du vélo peuvent participer à nos voyages organisés;
                                    </li>
                                    <li>
                                    les excursions de "Mienski vielašpacyr" ("La promenade de Miensk à vélo") se caractérisent par un faible exercice musculaire, se passent à vitesse moyenne et prévoient de nombreux arrêts;
                                    </li>
                                    <li>
                                    les enfants jusqu’à 14 ans peuvent participer à l’excursion seulement dans la présence de leurs parents ou leurs proches majeurs qui prennent la responsabilité de ces enfants ce qui doit être notarié par leur signature avant le voyage;
                                    </li>
                                    <li>
                                    les enfants de 14 à 17 ans inclusivement peuvent participer à l’excursion sans présence physique de leurs parents ou leurs proches majeurs mais avec une lettre de procuration manuscrite faite par eux en présence du guide;
                                    </li>
                                    <li>les personnes sous influence de l'alcool ou de drogues, les femmes enceintes ne peuvent pas participer aux excursions;</li>
                                    <li>
                                    pour paticiper à une excursion publique régulière* il est nécessaire de se rendre au lieu de rendez-vous 10 minutes avant le commencement d'excursion;
                                    </li>
                                    <li>
                                    veuillez nous informer avant de participer à notre excursion;
                                    </li>
                                    <li>
                                    on organise nos excursions publiques en russe et en bélarusse;
                                    </li>
                                </ul>
                                <p>
*excursion publique régulière - с’est une excursion ouverte qu’on organise régulièrement, l’information sur laquelle est distribuée publiquement pour recruter un groupe de tous les arrivants; d’habitude on parle de telle façon d'une excursion afin de ne pas la confondre à une excursion selon l'ordre individuel (privé) du client, qui est de nature fermée;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="mdi mdi-chevron-up arrow"></i>
                                    Vélos
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>pour participer à l’excursion vous pouvez utiliser n’importe quel vélo en bon état de fonctionnement;
                                    </li>
                                    <li>
                                    “Mienski vielašpacyr” peut organiser la location de vélos pour vous avec la livraison au lieu de rendez-vous (le prix moyen de la location d’un vélo pour 3 heures est de 10 BYN; le prix exact dépend de la durée d’itinéraire, du lieu de rendez-vous, du nombre de vélos dont vous avez besoin; veuillez nous contacter pour connaître les conditions);
                                    </li>
                                    <li>
                                    pour louer un vélo il vous faudra un passeport ou un autre document équivalent;
                                    </li>
                                    <li>
                                    "Mienski vielašpacyr" ne garantit pas la disponibilité des vélos pour la location pour les excursions publiques régulières;
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSafe">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingSafeBlock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Sécurité
                                </a>
                            </h4>
                        </div>
                        <div id="headingSafeBlock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingSafe">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                    tous les participants des excursions de "Mienski vielašpacyr" sont obligés de connaître et appliquer les régles de circulation sécurisée basées sur Chapitre 20 des Régles du code de la route de la République de Bélarus («Circulation sur les vélos et les cyclomoteurs»):
                                    </li>
                                    <li>
                                    les participants des excursions de "Mienski vielašpacyr" se déplacent rigoureusement dans la zone piétonne et sur les pistes cyclables, en croisant si nécessaire la route dans des endroits
spécialement désignés à pied (la traversée de la chaussée en vélo est autorisée uniquement sur les intersections spécialement désignées);

                                    </li>
                                    <li>
                                    dans des cas exceptionnels et uniquement avec la permission du guide, les cyclistes peuvent aller le long de la chaussée en colonne (un par un) pas plus loin q’un mètre de son bord droit;
                                    </li>
                                    <li>
                                    pendant l'excursion, les participants de l'excursion doivent se déplacer à velo en colonne (un par un), sans se dépasser, avec une distance de sécurité minimale de 3 mètres;
                                    </li>
                                    <li>
                                    à l'extérieur des carrefours sur l'intersection non réglementée de la piste cyclable avec la route, le cycliste doit laisser la place aux véhicules se déplaçant le long de cette route;

                                    </li>
                                    <li>
                                    lors de la conduite sur la route pendant la nuit et (ou) avec le manque de visibilité, le vélo doit avoir à l'avant un phare (lanterne) émettant une lumière blanche, à l'arrière - une lanterne émettant une lumière rouge

                                    </li>
                                    <li>
                                    il est interdit d'utiliser un vélo techniquement défectueux; chaque participant de l'excursion est responsable de l’état de son vélo; les employés de la location de vélos sont également responsables de l’état technique des vélos;
                                    </li>
                                    <li>
                                    il est interdit de bouger sans tenir le volant et (ou) de ne pas garder les pieds sur les pédales (marchepieds);
                                    </li>
                                    <li>
                                    il est interdit de transporter des passagers, à l'exception du transport d'enfants de moins de sept ans à bicyclette dans un siège supplémentaire spécialement équipé ou lorsque le transport de passagers est assuré par la bicyclette;
                                    </li>
                                    <li>
                                    il est interdit de transporter des marchandises dépassant de plus de 0,5 mètre de longueur ou de largeur au-delà des dimensions de la bicyclette, ainsi que des charges qui interfèrent avec la gestion du vélo;
                                    </li>
                                    <li>le remorquage du vélo et par vélo est interdit, à l'exception du véhicule remorqué de production industrielle;</li>
                                    <li>
                                    la présence d'un casque de vélo n'est pas une condition préalable à la participation à nos excursions, mais les participants de l'excursion sont responsables de la décision d'utiliser ou non un casque de vélo pendant l'excursion;
                                    </li>
                                    <li>
                                    l’accidenteur porte la responsabilité d'un éventuel accident (chaque situation est considérée séparément);
                                    </li>
                                    <li>
                                    chaque participant de l'excursion doit attester par sa signature personnelle la connaissance et la volonté d'obéir aux règles ci-dessus avant le commencement d’excursion;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingWeather">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingWeatherBlock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Paiement
                                </a>
                            </h4>
                        </div>
                        <div id="headingWeatherBlock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingWeather">
                            <div class="panel-body">
                                <ul type="circle">
                                    <li>
                                    veuillez nous contacter avant de payer l’excursion;
                                    </li>
                                    <li>
                                    on peut payer l’excursion d’avance (pas plus tard que 24 heures jusqu’au commencement du voyage):
                                    </li>
                                    <li>dans chaque banque en transférant le montant nécessaire sur notre compte courant pour les roubles bélarusses (BYN): №BY87BLNB301300000724 5300 0933, BIC (Code
d’identification bancaire): BLNB BY2X; SAO «Belarusky narodny bank» (Minsk, praspiekt praspiekt Niezaliežnasci, 87a), code 765 ; expéditeur: AE (auto-entrepreneur) R.M. Abramchuk, IRC (UNP) # 192 201 977; destinataire: veuillez préciser votre nom et prénom, les données personnelles; service: «pour l’excursion» (veuillez noter que les banques ajoutent à leurs frais la commission, le paiement sans commission est possible dans les filiales de la Banque populaire de Bélarus/«Belarusky narodny bank»); lors du paiement par la banque votre facture sera un billet pour la visite, elle devra être montrée au guide avant le commencement de l'excursion;
</li>
                                    <li>
                                     par cache au guide avant le commencement de chaque excursion régulière sur un lieu de rendez-vous du groupe;
                                    </li>
                                    <li>on peut payer l’excursion directement avant son commencement (uniquement par cache);
                                    </li>
                                    <li>
                                        veuillez prendre en considération que pour les excursions publiques régulières le nombre de personnes dans les groupes est limité c’est pourquoi il sera mieux la payer d’avance;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Contrepartie financière
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                    si le participant quitte le groupe pendant l’excursion, les frais d’excursion ne lui seront pas remboursés ;
                                    </li>
                                    <li>
                                     si vous payez l’excursion d’avance, la ratez ou ne trouvez pas le groupe, les frais d’excursion ne vous seront pas remboursés;
                                    </li>
                                    <li>
                                    si vous payez l’excursion d’avance mais ne pouvez pas y participer, les frais d’excursion vous seront remboursés à condition que vous nous en informiez pas plus tard qu’un jour avant le commencement d’excursion;
                                    </li>
                                    <li>
                                         si vous payez l’excursion d’avance, n’y pouvez pas participer et nous y informez moins d’un jour et plus qu’une demi-heure avant son commencement, vous pourrez récupérer la moitié des frais payés pour l’excursion ou participer à l’excursion prochaine;

                                    </li>
                                    <li>
                                        si vous payez l’excursion, n’y pouvez pas participer et nous y informez moins d’une demi-heure avant son commencement, les frais d’excursion ne vous seront pas remboursés ;

                                    </li>
                                    <li>
                                        si le guide annule, reporte ou abrége l’excursion (plus que la moitié d’excursion au niveau d’itinéraire) vu la force-majeure (y compris les intempéries) qui a eu plus qu’un jour avant le commencement d’excursion, vous pourrez récupérer la moitié des frais payés pour l’excursion ou participer à l’excursion prochaine avec le même prix;

                                    </li>
                                    <li>
                                        si on annule ou reporte l’excursion vu la force-majeure (y compris les intempéries) qui a eu un jour avant le commencement d’excursion, les frais d’excursion vous seront remboursés ou bien vous pourrez participer à l’excursion prochaine avec le même prix ;
                                    </li>
                                    <li>
                                        si le guide abrége l’excursion (la moitié d’excursion au niveau d’itinéraire) vu la force majeure (y compris les intempéries), les frais d’excursion ne vous seront pas remboursés;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingPayment">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingPaymentblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Nombre de personnes en groupe
                                </a>
                            </h4>
                        </div>
                        <div id="headingPaymentblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                    le nombre maximal de personnes dans le groupe aux excursions publiques ou individuelles (privées) fait 15 personnes c’est pourquoi il sera mieux la payer d’avance et non pas devant le commencement (veuillez voir «Paiement»);

                                    </li>
                                    <li>
                                    le nombre minimal de personnes dans le groupe aux excursions publiques ou individuelles (privées) fait 1 personne mais "Mienski vielašpacyr" peut annuler ou reporter la date d’excursion publique dans le cas si personne ne l’a payée d’avance (veuillez voir «Paiement») et dans le cas de force majeure (veuillez voir « Force Majeure»);

                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingComp">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingCompblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                   Heure, durée et horaires des excursions

                                </a>
                            </h4>
                        </div>
                        <div id="headingCompblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>

                                    d’habitude, on organise des excursions publiques de mai à septembre inclus (pendant les autres mois aussi si la météo est favorable) selon le calendrier qui se trouve dans la section «Prochaines»; vous pouvez voir l’information actuelle dans nos groupes Facebook, Vkontakte et en nous contactant;
                                    </li>
                                    <li>
                                    la durée des excursions publiques en ville pour fait 2-3 heures (en dépendance d'itinéraire);
                                    </li>
                                    <li>
                                    on peut discuter l'heure de commencement et la durée d’une excursion individuelle directement avec le client;
                                    </li>
                                    <li>
                                     on organise les excursions par temps différent y compris la pluie et la chaleur qui ne sont pas toujours des cas de force majeure et la raison de remboursement des frais aux clients (veuillez voir «Contrepartie Financière») ;
                                    </li>
                                    <li>
                                     le guide décide si le temps convient pour l’organisation des excursions;
                                    </li>
                                    <li>
                                    s’il pleut, on aura des imperméables gratuits pour nos participants;
                                    </li>
                                    <li>
                                    on a le droit d’annuler, reporter ou abréger l’excursion vu les intempéries avec ou sans remboursement des frais aux clients (veuillez voir «Contrepartie Financière»);
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingGroup">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingGroupblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Tarifs des excursions
                                </a>
                            </h4>
                        </div>
                        <div id="headingGroupblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                    les prix des excursions publiques pour une personne et les prix des excursions pour une commande individuelle (privée) sont indiqués dans la description des excursions;
                                    </li>
                                    <li>
                                     les élèves, les étudiants (indépendamment de leur nationalité), les retraités et les travailleurs culturels (citoyens de la République de Bélarus) bénéficient d'une réduction de 15% pour toutes nos excursions (sauf pour une excursion individuelle pour 1-3 personnes) sur présentation d'un certificat approprié;
                                    </li>
                                    <li>
                                        les vétérans de la bataille d’Orcha 1514 et les participants de l’insurrection de libération nationale 1863 peuvent toujours participer aux excursions gratuitement
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTime">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingTimeblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    
                                    Lieu de commencement et de fin des excursions, itinéraire, kilométrage
                                </a>
                            </h4>
                        </div>
                        <div id="headingTimeblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                     en général, des excursions publiques de ville (sauf excursion dans le Lošycki parc et quelques autres exceptions) commencent et finissent près de la sortie du métro Niamiha du côté du Palais de Sport;
                                    </li>
                                    <li>
                                    pour l’excursion dans le Lošycki parc le groupe se réunit près de l’entrée centrale du parc;
                                    </li>
                                    <li>
                                     le lieu de rendez-vous pour certains itinéraires rares est indiqué dans l'annonce, vous pouvez avoir plus d’information en nous contactant;
                                    </li>
                                    <li>
                                        le lieu de commencement et de fin des excursions individuelles on discute directement avec le client;
                                    </li>
                                    <li>
                                        le kilomètrage d'excursions urbaines ne dépasse généralement pas 15 km, le groupe s'arrête régulièrement pour voir les objets;

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingPlace">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingPlaceblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Langues des excursions
                                </a>
                            </h4>
                        </div>
                        <div id="headingPlaceblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                    on peut commander l’excursion individuelle de "Mienski vielašpacyr" en bélarusse, français, anglais, russe, polonais;
                                    </li>
                                    <li>
                                    l’excursion de ville publique "Le meilleur de Minsk" est organisé en russe;
                                    </li>
                                    <li>месца сустрэчы для некаторых рэдкіх маршрутаў абумоўліваецца асобна ў анонсе, аб
                                        ім заўжды можна даведацца, <a href="#footer">скантактаваўшыся з намі</a>;
                                    </li>
                                    <li>
                                    les autres excursions (des parcours thématiques) publiques sont organisées en bélarusse ;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headinglanguage">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headinglanguageblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Force majeure
                                </a>
                            </h4>
                        </div>
                        <div id="headinglanguageblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                    si la force majeure (révolution, attaque de criquets, chute de météorites, intempéries ou autre chose) menace la vie et la sécurité des participants, "Mienski vielašpacyr" aura le droit d’annuler, reporter ou abréger l’excursion avec une contrepartie financière ou sans elle (Veuillez voir «Contrepartie Financière»);
                                    </li>
                                    <li>
                                    si on annule ou reporte l’excursion publiques vu la force majeure (y compris les intempéries), vous verrez cette information dans notre rubrique «Actualités» ou dans nos groupes Facebook et Vkontakte;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                   <!--  <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingForcemajor">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingForcemajorblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Форс-мажор
                                </a>
                            </h4>
                        </div>
                        <div id="headingForcemajorblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>калі форс-мажорныя абставіны (рэвалюцыя/налёт саранчы/падзенне метыярытаў/надзвычай
                                        неспрыяльнае надвор'е і інш.)
                                        ставяць пад пагрозу жыццё і бяспеку ўдзельнікаў экскурсіі -
                                        экскурсавод мае права адмяняць,
                                        пераносіць або скарачаць экскурсію з грашовай кампенсацыяй кліентам або без яе
                                    </li>
                                    <li>калі па форс-мажорных абставінах (у т.л. з-за надзвычай неспрыяльных умоваў надвор'я)
                                        экскурсія адмяняецца або пераносіцца на іншы час - інфармацыю аб гэтым мы размяшчаем на
                                        гэтым сайце,
                                        а таксама ў нашых суполках <a href="https://www.facebook.com/mienski.vielaspacyr">Facebook
                                        </a> і <a href="http://vk.com/mienski.vielaspacyr">Вконтакте</a>;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-6 col-xs-12 map-col-wrap">
                <p align="center">
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Jd8koKSNHieCewMlWG4B-aIjabc" width="100%"
                            height="400px"></iframe>
                </p>

            </div>
        </div>
    </div>
</section>