<section id="bike-section-4" class="bike-section">
    <div class="bike-container">

        <h2 class="blue-text bike-title text-xs-center">Забронировать Экскурсию</h2>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <form action="index.html" method="post" class="bike-contact-form">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 bike-form-group-left">
                    <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="ИМЯ"  required/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 bike-form-group-right">
                    <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="ФАМИЛИЯ"  required/>
                </div>
                <div class="form-group">
                    <input type="date" id="contact_subject" name="contact_subject" class="form-control" placeholder="ДАТА"  required/>
                </div>
                <div class="form-group">
                    <input type="text" name="contact_message" class="form-control" rows="2" placeholder="Название  Экскурсии" required></textarea>
                </div>

                <button type="submit" class="btn bike-light-blue-bordered-btn pull-xs-right">Submit</button>
            </form>
        </div> <!-- col -->

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 margin-top-xs-50">
            <h3 class="light-blue-text bike-subtitle">Забронировать Экскурсию</h3>
            <p>Nunc rutrum ac ante euismod cursus. Suspendisse imperdiet feugiat massa nec iaculis</p>
            <p>
                Tel: <a href="tel:0100200340">010-020-0340</a><br>
                Email: <a href="mailto:info@company.com">info@company.com</a>
            </p>
        </div>
    </div>
</section>