<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ninodezign.com, ninodezign@gmail.com">
    <meta name="copyright" content="ninodezign.com">
    <title>Велаэкскурсіі па Мінску і Беларусі</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="images/ico/favicon.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" />-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body data-target="#nino-navbar" data-spy="scroll">

<!-- Header
================================================== -->
<header id="nino-header">
    <div id="nino-headerInner">
        <nav id="nino-navbar" class="navbar navbar-default" role="navigation">
            <div class="container header-wrap">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nino-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <ul class="languages-wrap nav navbar-nav">
                        <li><a href="index.html">
                            BEL
                        </a></li>

                        <li><a href="index-ru.html">
                            RUS
                        </a></li>
                        <li><a href="index-pl.html">
                            POL
                        </a></li>
                        <li><a href="index-fr.html">
                            FRA
                        </a></li>
                    </ul>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="nino-menuItem pull-right">
                    <div class="collapse navbar-collapse pull-left" id="nino-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#nino-header">На старт <span class="sr-only">(current)</span></a></li>
                            <li><a href="#nino-story">Неабходная Iнфармацыя</a></li>
                            <li><a href="#nino-services">Пра нас</a></li>
                            <li><a href="#nino-ourTeam">Нашыя экскурсии</a></li>
                            <li><a href="#nino-portfolio">Навiны</a></li>
                            <li><a href="#nino-latestBlog">Пра горад</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                </div>
                <div class="logo-wrap">
                    <a class="navbar-brand" href="homepage.html">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <section id="nino-slider" class="carousel slide container" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h2 class="nino-sectionHeading">
                        <span class="nino-subHeading">MienskBikeTour</span>
                        Неабходная Iнфармацыя
                    </h2>
                    <a href="#" class="nino-btn">падрабязней</a>
                </div>
                <div class="item">
                    <h2 class="nino-sectionHeading">
                        <span class="nino-subHeading">MienskBikeTour</span>
                        Пра нас
                    </h2>
                    <a href="#" class="nino-btn">падрабязней</a>
                </div>
                <div class="item">
                    <h2 class="nino-sectionHeading">
                        <span class="nino-subHeading">MienskBikeTour</span>
                        Нашы экскурсии
                    </h2>
                    <a href="#" class="nino-btn">падрабязней</a>
                </div>
                <div class="item">
                    <h2 class="nino-sectionHeading">
                        <span class="nino-subHeading">MienskBikeTour</span>
                        Навiны
                    </h2>
                    <a href="#" class="nino-btn">падрабязней</a>
                </div>
                <div class="item">
                    <h2 class="nino-sectionHeading">
                        <span class="nino-subHeading">MienskBikeTour</span>
                        Пра горад
                    </h2>
                    <a href="#" class="nino-btn">падрабязней</a>
                </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators clearfix">
                <li data-target="#nino-slider" data-slide-to="0" class="active">
                    <div class="inner">
                        <span class="number">01</span> Iнфармацыя
                    </div>
                </li>
                <li data-target="#nino-slider" data-slide-to="1">
                    <div class="inner">
                        <span class="number">02</span> Пра нас
                    </div>
                </li>
                <li data-target="#nino-slider" data-slide-to="2">
                    <div class="inner">
                        <span class="number">03</span>  Экскурсии
                    </div>
                </li>
                <li data-target="#nino-slider" data-slide-to="3">
                    <div class="inner">
                        <span class="number">04</span> Навiны
                    </div>
                </li>
                <li data-target="#nino-slider" data-slide-to="3">
                    <div class="inner">
                        <span class="number">04</span> Пра горад
                    </div>

            </ol>
        </section>
    </div>
</header><!--/#header-->
