<iframe src="https://www.flickr.com/photos/romannn/13167952464/in/set-72157642385580434/player/" width="500"
        height="333" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen
        oallowfullscreen msallowfullscreen></iframe>
__
<iframe src="https://www.flickr.com/photos/romannn/13216561023/in/set-72157642485374873/player/" width="500"
        height="333" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen
        oallowfullscreen msallowfullscreen></iframe>