<!-- CONDTIONS STARTS -->
<section class="conditions" id="conditions">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">
                    <h2 class="bike-sectionHeading">
                        УСЛОВИЯ
                    </h2>
                    <p class="text-center">
                        ПОЖАЛУЙСТА, ПРОЧТИТЕ ЭТУ ИНФОРМАЦИЮ, ПРЕЖДЕ ЧЕМ ПРИСОЕДИНИТЬСЯ К НАШИМ ЭКСКУРСИЯМ
                    </p>
                </h2>
            </div>
            <div class="col-md-6 col-xs-12 inf-wrap">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Общая информация
                                </a>
                            </h4>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>в наших поездках могут участвовать лица, умеющие уверенно кататься на велосипеде;</li>
                                    <li>экскурсии «Менскага велашпацыра» характеризуются небольшой физической нагрузкой, происходят
                                        в среднем для всей группы темпе и имеют множество остановок;
                                    </li>
                                    <li>дети до 14 лет могут участвовать в экскурсии исключительно в присутствии своих родителей или
                                        совершеннолетних близких родственников,
                                        которые в таком случае берут на себя ответственность за этих детей,
                                        что должно быть засвидетельствовано подписью этих совершеннолетних лиц перед началом
                                        экскурсии;
                                    </li>
                                    <li>дети от 14 до 17 лет включительно могут участвовать в экскурсии без присутствия своих
                                        родителей или совершеннолетних близких родственников, но с их обязательным письменным
                                        разрешением, составленным в присутствии экскурсовода;
                                    </li>
                                    <li>к экскурсии не допускаются лица в нетрезвом состоянии, беременные женщины;</li>
                                    <li>для публичной регулярной экскурсии*: необходимо приезжать
                                        <a href="page+mapa-rus.html">на место встречи</a> за 10 минут до начала экскурсии;
                                    </li>
                                    <li>перед тем, как присоединиться к нашей экскурсии - пожалуйста, сообщите нам об этом;
                                    </li>
                                </ul>
                                <p>
                                    *публичная регулярная экскурсия - т.е. открытая экскурсия для сборной группы, которая обычно проводится регулярно, информация о которой распространяется публично для набора группы из всех желающих; обычно так говорят об экскурсии, чтобы отличить её от экскурсии по индивидуальному (частному) заказу клиента, которая носит закрытый характер;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="mdi mdi-chevron-up arrow"></i>
                                    Велосипеды
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>для участия в экскурсии вы можете использовать любой технически исправный велосипед;</li>
                                    <li>"Менскі велашпацыр" может организовать прокат велосипедов для вас с доставкой на <a href="page+mapa-rus.html">место встречи</a> (<strong>средняя цена проката 1 велосипеда на 3 часа с доставкой - 10 рублей</strong>;
                                        точная цена зависит от продолжительности маршрута,
                                        <a href="page+mapa-rus.html">места встречи</a>, количества нужных вам велосипедов - <a href="#footer">свяжитесь с нами</a>,
                                        чтобы узнать об условиях);
                                    </li>
                                    <li>пожалуйста, помните: чтобы взять велосипед на прокат, вам будет необходим
                                        паспорт или другой равнозначный документ;
                                    </li>
                                    <li>для регулярных публичных экскурсий: "Менскі велашпацыр" не гарантирует наличие свободных
                                        велосипедов для сдачи в прокат;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSafe">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingSafeBlock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Безопасность
                                </a>
                            </h4>
                        </div>
                        <div id="headingSafeBlock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingSafe">
                            <div class="panel-body">
                                <ul>
                                    <li>все участники экскурсий "Менскага велашпацыра" <strong>обязаны знать и подчиняться следующим
                                        правилам безопасного движения</strong>, составленным на основании <a href="page+pdr-rus.html">Раздела 20 Правил дорожного движения Республики Беларусь
                                        ("Движение на велосипедах и мопедах")</a>:
                                    </li>
                                    <li>участники экскурсий "Менскага велашпацыра" двигаются исключительно в пешеходной зоне и на
                                        велодорожках с пересечением при необходимости проезжей части дороги в специально
                                        предназначенных для этого местах пешком (переезд проезжей части дороги на велосипеде
                                        разрешается только на специально обозначенных для этого перекрёстках);
                                    </li>
                                    <li>в исключительных случаях и только с разрешения экскурсовода допускается движение
                                        велосипедистов по проезжей части дороги в один ряд не далее 1 метра от ее правого края;
                                    </li>
                                    <li>на протяжении экскурсии участники экскурсии должны двигаться на велосипедах колонной (друг
                                        за другом), не обгоняя друг друга, с минимальной дистанцией безопасности 3 метра;
                                    </li>
                                    <li>вне перекрестков на нерегулируемом пересечении велосипедной дорожки с дорогой велосипедист
                                        обязан уступить дорогу транспортным средствам, движущимся по этой дороге;
                                    </li>
                                    <li>при движении по дороге в темное время суток и (или) при ее недостаточной видимости на
                                        велосипеде должны быть включены: спереди — фара (фонарь), излучающая белый свет, сзади —
                                        фонарь, излучающий красный свет;
                                    </li>
                                    <li>запрещается использовать технически неисправный велосипед; каждый участник экскурсии сам
                                        отвечает за надлежащее техническое состояние своего велосипеда; за техническое состояние
                                        велосипедов, взятых напрокат в велопрокате, также отвечают сотрудники этого велопроката;
                                    </li>
                                    <li>запрещается двигаться, не держась за руль и (или) не держа ноги на педалях (подножках);</li>
                                    <li>запрещается перевозить пассажиров, за исключением случаев перевозки на велосипеде детей в
                                        возрасте до семи лет на дополнительном специально оборудованном сиденье или когда перевозка
                                        пассажиров предусмотрена конструкцией велосипеда;
                                    </li>
                                    <li>запрещается перевозить грузы, которые выступают более чем на 0,5 метра по длине или ширине
                                        за габариты велосипеда, а также грузы, мешающие управлению велосипедом;
                                    </li>
                                    <li>запрещается буксировка велосипеда и велосипедом, за исключением велосипедного прицепа
                                        промышленного производства;
                                    </li>
                                    <li>наличие велосипедного шлема не является обязательным условием для участия в наших
                                        экскурсиях, но участники экскурсии берут на себя ответственность за решение о использовании
                                        или неиспользовании велосипедного шлема во время экскурсии;
                                    </li>
                                    <li><strong>ответственность за возможное несчастное происшествие несёт непосредственный виновник
                                        этого происшествия</strong> (каждая ситуация рассматривается отдельно);
                                    </li>
                                    <li>каждый участник экскурсии перед началом экскурсии должен засвидетельствовать личной подписью
                                        своё знание и готовность подчиняться выше изложенным правилам;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingWeather">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingWeatherBlock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Погода
                                </a>
                            </h4>
                        </div>
                        <div id="headingWeatherBlock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingWeather">
                            <div class="panel-body">
                                <ul>
                                    <li>экскурсии "Менскага велашпацыра" проводятся в разную погоду, в т.ч. в дождь и жару, которые
                                        не всегда являются форс-мажорными обстоятельствами и не всегда являются поводом возвращения
                                        денег клиентам (<a href="#kampensacja">см."Денежная компенсация..."</a>);
                                    </li>
                                    <li>решение о том, является ли погода годной для проведения экскурсии, принимает экскурсовод;
                                    </li>
                                    <li>на случай дождя у нас для вас есть дождевики в бесплатное пользование;</li>
                                    <li>мы сохраняем за собой право из-за неблагоприятных погодных условий отменять, переносить или
                                        сокращать экскурсию с компенсацией или без компенсации денег клиентам (<a href="#kampensacja">см."Денежная компенсация..."</a>);
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Стоимость экскурсий
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>цены публичных экскурсий для 1 человека в составе сборной группы и цены экскурсий по
                                        индивидуальному (частному) заказу указаны в описании самих экскурсий <a href="page2-rus.html"> ("наши экскурсии")</a>;
                                    </li>
                                    <li>учащимся, студентам (независимо от гражданства), пенсионерам и работникам культуры
                                        (гражданам Республики Беларусь) предоставляется скидка 15% на все наши экскурсии (кроме
                                        индивидуальной экскурсии для 1-3 человек) при предъявлении соответствующего удостоверения;
                                    </li>
                                    <li>ветеранам битвы под Оршей 1514 г. и участникам национально-освободительного восстания 1863
                                        г. - всегда бесплатно;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingPayment">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingPaymentblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Оплата
                                </a>
                            </h4>
                        </div>
                        <div id="headingPaymentblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>перед оплатой экскурсии необходимо предварительно <a href="#footer">связаться с нами</a>;
                                    </li>
                                    <li>оплатить экскурсию <strong>предварительно (не позднее, чем за 24 часа до начала
                                        экскурсии)</strong> можно:
                                    </li>
                                    <li> - в любом банке, перечислив необходимую сумму на наш расчётный счёт для белорусских рублей:
                                        <strong>№ BY87 BLNB 3013 0000 0724 5300 0933, БИК (банковский идентификационный код): BLNB BY2X; ОАО "Белорусский народный банк" (Минск, пр-т Незалежнасці, 87а),
                                            код 765; для кого: ИП (индивидуальный предприниматель) Р.Н. Абрамчук, УНП 192 201 977;
                                            от кого: обязательно укажите своё имя, фамилию, паспортные данные; за что: "за
                                            экскурсию" </strong> (обратите внимание, что банки к сумме оплаты прибавляют свою
                                        комиссию, оплата без комиссии возможна в отделениях <a href="http://www.bnb.by/o-banke/o-nas/kak-nas-najti.html" target="_blank">
                                            Белорусского народного банка</a>); при оплате через банк вашим билетом на экскурсию
                                        будет банковская платёжная квитанция, которую необходимо будет показать экскурсоводу перед
                                        началом экскурсии;
                                    </li>
                                    <li> - наличными деньгами экскурсоводу перед началом любой иной нашей регулярной публичной
                                        экскурсии <a href="page+mapa-rus.html">на месте встречи</a> сборной группы;
                                    </li>
                                    <li>можно оплатить экскурсию <strong>непосредственно перед её началом</strong> экскурсоводу
                                        (только наличными деньгами);
                                    </li>
                                    <li>для публичных регулярных экскурсий: пожалуйста, учитывайте,
                                        что количество мест в группе - ограничено, поэтому лучше оплатить экскурсию заранее;
                                    </li>
                                    <li>для публичных регулярных экскурсий: прокат велосипедов оплачивается непосредственно
                                        сотрудникам велопроката;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingComp">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingCompblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Денежная компенсация за отмену, перенос экскурсии и др.
                                </a>
                            </h4>
                        </div>
                        <div id="headingCompblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>если участник экскурсии покинул группу во время экскурсии - деньги не возвращаются;</li>
                                    <li>если вы оплатили экскурсию заранее, опаздали на неё, не нашли группу - деньги не
                                        возвращаются;
                                    </li>
                                    <li>если вы оплатили экскурсию заранее, но у вас не получается на ней присутствовать -
                                        вы можете получить деньги в полном объёме назад или участвовать в следующей экскурсии с
                                        такой же ценой при условии, что вы <a href="#footer">сообщите нам</a> об этом <em> не
                                            менее, чем за сутки до начала экскурсии</em>;
                                    </li>
                                    <li>если вы оплатили экскурсию заранее и не можете на ней присутствовать, то, <a href="#footer">сообщив нам</a> об этом <em> менее чем за сутки,
                                        но более, чем за полчаса до начала экскурсии</em>,
                                        - вы можете получить половину суммы, заплаченой за экскурсию или участвовать в следующей
                                        экскурсии с такой же ценой;
                                    </li>
                                    <li>если вы оплатили экскурсию заранее, и не можете в ней участвовать, и сообщите нам об этом
                                        менее, чем за полчаса до её начала, - деньги не возвращаются;
                                    </li>
                                    <li>если по форс-мажорным обстоятельствам (в т.ч. из-за чрезвычайно неблагоприятных погодных
                                        условий), которые сложились позже, чем за сутки до начала экскурсии,
                                        экскурсовод отменяет, переносит или сокращает экскурсию более, чем на половину (по
                                        маршруту),
                                        вы можете получить половину заплаченых за экскурсию денег или участвовать в следующей
                                        ближайшей экскурсии с такой же стоимостью;
                                    </li>
                                    <li>если по форс-мажорным обстоятельствам (в т.ч. из-за чрезвычайно неблагоприятных погодных
                                        условий), которые сложились раньше, чем за сутки до начала экскурсии,
                                        экскурсия отменяется или переносится на другое время,
                                        вы можете получить заплаченые за экскурсию деньги в полном объёме или участвовать в
                                        следующей ближайшей экскурсии с такой же стоимостью;
                                    </li>
                                    <li>если по форс-мажорным обстоятельствам (в т.ч. из-за чрезвычайно неблагоприятных погодных
                                        условий),
                                        экскурсовод сокращает экскурсию, но половина экскурсии (по маршруту) уже состоялась - деньги
                                        не возвращаются;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingGroup">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingGroupblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Количество человек в группе
                                </a>
                            </h4>
                        </div>
                        <div id="headingGroupblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>максимальнае количество человек в группе как на публичной, так и на индивидуальной (частной)
                                        экскурсии - 15,
                                        поэтому лучше оплачивать публичную экскурсию не перед её началом, а заранее <a href="#aplata">(см."Оплата")</a>;
                                    </li>
                                    <li>минимальное количество человек в группе как на публичной, так и на индивидуальной (частной)
                                        экскурсии - 1,
                                        однако "Менскі велашпацыр" сохраняет за собой право отменить или перенести платную публичную экскурсию в случае,
                                        если за неё не было сделано ни одной предварительной оплаты <a href="#aplata">(см."Оплата")</a>,
                                        а также в случае форс-мажорных обстоятельств <a href="#fors-mazhor">(см."Форс-мажор")</a>;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTime">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingTimeblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Время, продолжительность и расписание экскурсий
                                </a>
                            </h4>
                        </div>
                        <div id="headingTimeblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>как правило, публичные экскурсии для сборных групп бывают регулярно с мая по сентябрь включительно (а
                                        также в другие месяцы, если погода благоприятная) согласно с <a href="page+mapa-rus.html">расписанием</a> (актуальную информацию также можно получить в наших группах
                                        <a href="https://www.facebook.com/mienski.vielaspacyr">
                                            Facebook</a>, <a href="http://vk.com/mienski.vielaspacyr">Вконтакте</a> и <a href="#footer">связавшись с нами</a>);
                                    </li>
                                    <li>продолжительность городских публичных экскурсий для сборных групп, обычно - 2-3 часа
                                        (зависит от маршрута);
                                    </li>
                                    <li>время начала и продолжительность экскурсии по индивидуальному заказу обсуждается
                                        непосредственно с клиентом;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingPlace">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingPlaceblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Место начала и завершения экскурсий, маршрут и километраж
                                </a>
                            </h4>
                        </div>
                        <div id="headingPlaceblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>как правило, городские публичные экскурсии для сборных групп (кроме экскурсии по Лошицкому парку)
                                        начинаются и заканчиваются возле <a href="page+mapa-rus.html">выхода из метро "Няміга"</a> в сторону Дворца спорта;</li>
                                    <li>сбор группы для экскурсии по Лошицкому парку - <a href="page+mapa-rus.html">возле
                                        центрального входа в парк</a> (со стороны Камвольного комбината);</li>
                                    <li>для некоторых редких маршрутов место встречи оговаривается отдельно в анонсе,
                                        о нём всегда можно узнать, <a href="#footer">связавшись с нами</a>;
                                    </li>
                                    <li>место начала и завершения экскурсий по индивидуальному заказу обсуждается непосредственно с
                                        клиентом;
                                    </li>
                                    <li>километраж городских экскурсии обычно не превышает 15 км, группа регулярно останавливается
                                        для осмотра объектов;
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headinglanguage">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headinglanguageblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Язык экскурсий
                                </a>
                            </h4>
                        </div>
                        <div id="headinglanguageblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>заказать индивидуальную экскурсию у "Менскага велашпацыра" можно на белорусском, английском,
                                        русском, польском, французском языке;
                                    </li>
                                    <li>публичная <a href="page2-a-rus.html">обзорная экскурсия по Минску</a> для сборных групп
                                        проводится на русском языке;
                                    </li>
                                    <li>все остальные (тематические) публичные экскурсии для сборных групп проводятся на
                                        белорусском, в некоторых случаях - на русском языке;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingForcemajor">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingForcemajorblock" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="mdi mdi-chevron-up bike-icon arrow"></i>
                                    Форс-мажор
                                </a>
                            </h4>
                        </div>
                        <div id="headingForcemajorblock" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
                                    <li>Если форс-мажорные обстоятельства (революция/налёт саранчи/падение метеоритов/чрезвычно
                                        неблагоприятные погодные условия и др.)
                                        ставят под угрозу жизнь и безопасность участников экскурсии -
                                        "Менскі велашпацыр" имеет право отменять,
                                        переносить или сокращать экскурсию с полной или частичной денежной компенсацией или без
                                        денежной компенсации клиентам
                                        (<a href="#kampensacja">гл."Денежная компенсация..."</a>);
                                    </li>
                                    <li>если по форс-мажорным обстоятельствам (в т.ч. из-за чрезвычайно неблагоприятных погодных
                                        условий) экскурсия отменяется или переносится на другое время - информацию об этом мы
                                        размещаем в наших <a href="page4-rus.html">"Новостях"</a>, группах
                                        <a href="https://www.facebook.com/mienski.vielaspacyr">
                                            Facebook</a> и <a href="http://vk.com/mienski.vielaspacyr">Вконтакте</a>;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 map-col-wrap">
                <p align="center">
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Jd8koKSNHieCewMlWG4B-aIjabc" width="100%"
                            height="400px"></iframe>
                </p>

            </div>
        </div>
    </div>
</section>