.about-wrap-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-block-wrap{
  min-width: 260px;
  margin-top: 30px;
  overflow: visible;
  position: relative;
  &:hover{
    color: #333;
    .about-hint{
      display: block;
    }
  }
}
.about-block{
  border-radius: 100%;
  background: rgba(254, 167, 0, 0.9);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  position: relative;

}
.about-icon{
  font-size:40px;

}
.about-title{
  position: static;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  margin-top: 20px;
  font-size: 14px;
}
.about-hint{
  display: none;
  color: #333;
  position: absolute;
  line-height: 16px;
  font-weight: 400;
  font-size: 14px;
  bottom: 160px;
  right: -100px;
  background:rgba(254, 167, 0, 0.9);
  padding: 10px;
  max-width: 200px;
  border-radius: 5px;
  box-shadow:  0 0 10px orangered;
  @media screen and (max-width:768px){
    right: 0px;
  }

}
