@media(min-width: 768px) {
  .bike-contact-form {
    margin-right: 20px;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}
@media(max-width: 1199px) {
  h2 {
    font-size: 1.8rem;
  }
  .bike-news-title {
    margin-bottom: 15px;
  }
  .bike-news-text {
    line-height: 1.6;
  }
}
@media(max-width: 1100px) and(min-width: 992px) {
  h2 {
    font-size: 1.6rem;
  }
  .bike-news-title {
    margin-bottom: 12px;
  }
  .bike-news-text {
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }
  .btn {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}
@media(max-width: 991px) {
  .navbar-nav {
    .nav-link {
      font-size: 1.7rem;
    }
    .nav-item + .nav-item {
      margin-left: 0;
    }
  }
  .bike-news-item {
    flex-direction: column;
  }
  .bike-news-container {
    padding: 1.5em;
    margin: 0 auto;
    max-width: 600px;
  }
  .flex-order-2 {
    order: 1;
  }
  .flex-order-1 {
    order: 2;
  }
}
@media(max-width: 940px) {
  .bike-img-grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }
  .bike-gallery-img-container {
    width: 33.333%;
  }
}
@media(max-width: 767px) {
  .bike-page-2-subtitle {
    margin-bottom: 30px;
  }
  .navbar-toggler {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
  .bike-navbar-container {
    background: none;
    box-shadow: none;
    height: 54px;
    &.bg-inverse .navbar {
      background-color: $color_tuna_approx;
    }
  }
  .navbar {
    background-color: $black_20;
  }
  .bg-inverse {
    background-color: $color_tuna_approx;
  }
  .bike-form-group-left {
    padding-right: 0;
  }
  .bike-form-group-right {
    padding-left: 0;
  }
  .margin-top-xs-50 {
    margin-top: 50px;
  }
  .margin-bottom-sm-8 {
    margin-bottom: 8%;
  }
  .margin-bottom-sm-3 {
    margin-bottom: 3%;
  }
  .home .bike-section {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  body.page-2 {
    padding-top: 54px;
  }
  .navbar-nav .nav-item {
    float: none;
    + .nav-item {
      margin-left: 0;
    }
  }
}
@media(max-width: 640px) {
  .bike-gallery-img-container {
    width: 50%;
  }
  .bike-img-grid {
    max-width: 600px;
  }
  .page-2 .bike-section {
    padding-top: 7%;
    padding-bottom: 7%;
  }
}
@media(max-width: 600px) and(max-height: 600px) {
  .bike-intro {
    height: 100vh;
    min-height: 600px;
  }
}
@media(max-width: 1800px) {
  .bike-intro {
    background-size: 1800px 750px;
  }
}
@media all and(-ms-high-contrast: none),(-ms-high-contrast: active) {
  .bike-intro {
    background-attachment: scroll;
  }
}