

//@extend-elements
//original selectors
//a:hover, a:focus
%extend_1 {
  color: $color_picton_blue_approx;
  text-decoration: none;
  outline: none;
}


body {
  font-family: $font_0, $font_1, $font_2, $font_3;
  font-size: 1.9rem;
  font-weight: 100;
  &.page-2 {
    padding-top: 80px;
  }
}
a {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease;
  color: $color_storm_dust_approx;
  &:hover {
    @extend %extend_1;
  }
  &:focus {
    @extend %extend_1;
  }
}
button {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease;
  &:focus {
    outline: none;
  }
}
p {
  color: $color_storm_dust_approx;
}
h3 {
  margin-bottom: 2.5rem;
}
.bike-container {
  max-width: 1200px;
  margin: 0 auto;
}
.bike-container-wide {
  max-width: 1230px;
}

.bike-intro {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bike-logo {
  margin-bottom: 30px;
}
.bike-site-name {
  margin-bottom: 40px;
  flex: 0 1 auto;
}
.bike-intro-text {
  margin-bottom: 45px;
  flex: 0 1 auto;
  color: $white;
  font-size: 2.4rem;
}
#bike-section-1 {
  flex: 0 1 auto;
  padding-bottom: 0;
}
.bike-section-1-inner {
  flex: 0 1 auto;
  padding-top: 12%;
}
.bike-intro-link {
  border: 2px solid $white;
  border-radius: 50px;
  color: $white;
  display: inline-block;
  padding: 15px 60px;
  color: $white;
  font-size: 2.4rem;
  &:hover {
    color: $black;
    background-color: $white;
  }
  &:focus {
    color: $black;
    background-color: $white;
  }
}
.gray-bg {
  background-color: $wild_sand;
}
.dark-gray-text {
  color: $color_storm_dust_approx;
}
.blue-text {
  color: $color_bahama_blue_approx;
}
.light-blue-text {
  color: $color_picton_blue_approx;
}
.btn {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50px;
  font-size: 1em;
  padding: 0.5em 2.5em;
  margin: 0.25em;
}
.btn-lg {
  font-size: 1.75rem;
  font-weight: 300;
  padding: 10px 60px;
}
.bike-gray-btn {
  background-color: $color_storm_dust_approx;
  border: 2px solid $color_storm_dust_approx;
  color: $white;
  &:hover {
    background: transparent;
    color: $color_storm_dust_approx;
  }
  &:focus {
    background: transparent;
    color: $color_storm_dust_approx;
  }
}
.bike-gray-bordered-btn {
  background: transparent;
  border: 2px solid $color_storm_dust_approx;
  color: $color_storm_dust_approx;
  &:hover {
    background: $color_storm_dust_approx;
    color: $white;
  }
  &:focus {
    background: $color_storm_dust_approx;
    color: $white;
  }
}
.bike-light-blue-bordered-btn {
  background: transparent;
  border: 2px solid $color_picton_blue_approx;
  color: $color_picton_blue_approx;
  &:hover {
    background: $color_picton_blue_approx;
    color: $white;
  }
  &:focus {
    background: $color_picton_blue_approx;
    color: $white;
  }
}
.bike-blue-btn {
  background: $color_bahama_blue_approx;
  border: 2px solid $color_bahama_blue_approx;
  color: $white;
  &:hover {
    background: transparent;
    color: $color_bahama_blue_approx;
  }
}
.bike-blue-bordered-btn {
  background: transparent;
  border: 2px solid $color_bahama_blue_approx;
  color: $color_bahama_blue_approx;
  &:hover {
    background: $color_bahama_blue_approx;
    color: $white;
  }
  &:focus {
    background: $color_bahama_blue_approx;
    color: $white;
  }
}
.bike-green-btn {
  background: $color_blue_stone_approx;
  border: 2px solid $color_blue_stone_approx;
  color: $white;
  &:hover {
    background: transparent;
    color: $color_blue_stone_approx;
  }
  &:focus {
    background: transparent;
    color: $color_blue_stone_approx;
  }
}
.bike-green-bordered-btn {
  background: transparent;
  border: 2px solid $color_blue_stone_approx;
  color: $color_blue_stone_approx;
  &:hover {
    background: $color_blue_stone_approx;
    color: $white;
  }
  &:focus {
    background: $color_blue_stone_approx;
    color: $white;
  }
}
.bike-section {
  padding-top: 5%;
  padding-bottom: 5%;
  overflow: auto;
}
.bike-footer {
  padding-bottom: 20px;
  overflow: auto;
}
.bike-news-item {
  margin: 0 auto 5% auto;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
.bike-news-item-img {
  margin: 0 auto;
  width:100%;
}
.bike-news-item-img-container {
  padding: 0;
}
.bike-news-container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
  padding-right: 3%;
}
.bike-news-title {
  font-weight: 600;
  margin-bottom: 30px;
  font-size:2.5rem;
}
.bike-news-text {
  line-height: 1.8;
}
.bike-news-link {
  margin-right: 0;
  margin-left: auto;
  align-self: flex-end;
}
.flex-order-1 {
  order: 1;
}
.flex-order-2 {
  order: 2;
}
.bike-title {
  font-size: 4.3rem;
  margin-bottom: 40px;
}
.margin-b-5 {
  margin-bottom: 5px;
}
.bike-img-grid {
  margin-top: 60px;
  overflow: auto;
}
.bike-gallery-img {
  width: 100%;
  height: auto;
  height:225px;
}
.bike-gallery-img-container {
  width: 25%;
  float: left;
}
.form-control {
  border-color: rgba(0,0,0,0);
  border-radius: 0;
  font-size: 1.2rem;
  padding: .75rem;
}
.form-group {
  margin-bottom: 1.8rem;
}
.bike-form-group-left {
  padding-left: 0;
}
.bike-form-group-right {
  padding-right: 0;
}
.bike-subtitle {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
#tmNavbar {
  text-align: center;
}
.nav-link.active{
  color: #000;
}
.navbar-fixed-top{
  background: #fdba47;
}
.bike-banner-img {
  display: block;
  margin: 0 auto;
}
.bike-description {
  line-height: 1.8;
  margin: 0.5em 1.5em 1em;
}
.bike-page-2-title {
  font-size: 4.2rem;
  margin-bottom: 30px;
}
.bike-page-2-subtitle {
  margin-bottom: 60px;
}
.bike-page-2-p {
  font-size: 2.2rem;
  line-height: 1.6;
}
.bike-flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bike-img-2-col {
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
.bike-3-col-box {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.bike-description-box {
  padding: 6%;
}
.bike-description-text {
  margin-bottom: 1.5em;
}
.bike-footer-text {
  margin-bottom: 1.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $concrete;
}
.navbar-nav .nav-link {
  padding: 14px 15px;
  color: $white;
  color: $white;
  font-size: 1.8rem;
  &:focus {
    color: $color_nav_hover;
  }
  &.active {
    color: $color_nav_hover;
  }
  &:hover {
    color: $color_nav_hover;
  }
}
.page-2 .container-fluid {
  max-width: 1140px;
}