@ceaarset "UTF-8";

.bg-dark {
  background-color: rgba(52, 52, 52, 0.3) !important;
  h1, h2, h3, h4 {
    color: #fff;
  }
}

.cta, .btn {
  border: solid 2px;
  background-color: transparent !important;
  background-image: none !important;
  display: inline-block;
  clear: both;
  border-radius: 1px;
  text-transform: uppercase;
  color: #000;
  border-color: #000;
  box-shadow: none;
  text-shadow: none;
  padding: 6px 12px;
}

.cta.light, .btn.light {
  color: #fff;
  border-color: #fff;
}

.cta.light:hover, .btn.light:hover {
  border: solid 2px;
  border-color: #fff;
  color: #fff;
}

.cta:hover, .btn:hover {
  border: solid 2px;
  border-color: #000;
  text-decoration: none;
  color: #000;
}

.cta.big, .btn.big {
  font-size: 1.6em;
}

.full-tour-banner .over .inner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.color-North {
  color: #FFAE6C !important;
}

.icons {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 10px 5px 0;
    background-image: url(../../../../../../static/img/highlights/bg_highlights-W.png);
    height: 42px;
  }
  &.North li {
    &:nth-child(1) {
      width: 70px;
      height: 46px;
      background-position: 0 -51px;
    }
    &:nth-child(2) {
      display: none;
      width: 42px;
      height: 46px;
      background-position: -79px -51px;
    }
    &:nth-child(3) {
      width: 52px;
      height: 46px;
      background-position: -121px -51px;
    }
    &:nth-child(4) {
      width: 28px;
      height: 42px;
      background-position: -189px -51px;
    }
    &:nth-child(5) {
      background-image: url(../../../../../../static/img/highlights/rental.png);
      width: 52px;
      height: 50px;
      background-position: -91px 0px;
    }
    &:nth-child(6) {
      background-image: url(../../../../../../static/img/highlights/rental.png);
      width: 17px;
      height: 50px;
      background-position: -222px 0;
    }
  }
}

ul.route {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  li {
    display: table-cell;
    max-width: 250px;
    position: relative;
    padding-right: 40px;
    &:last-child {
      padding-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      vertical-align: middle;
      top: 30px;
      right: 0;
      width: 40px;
      height: 1px;
      border-top: dashed 2px #fff;
    }
  }
}

.big {
  font-size: 3.5em;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

.full-tour-banner {
  margin-bottom: 30px;
  .over {
    position: relative;
    overflow: hidden;
    display: block;
    padding-bottom: 40%;
    height: 0;
    width: 100%;
    img {
      position: absolute;
      width: 100%;
      height: auto;
    }
    .bg-dark {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .inner {
      z-index: 2;
      width: 80%;
      max-width: 1080px;
    }
    .bottom-data {
      position: absolute;
      bottom: 5px;
      left: 5px;
      text-align: left;
    }
  }
  &.North .bottom-data ul li:after {
    border-color: #FFAE6C;
  }
}

.container-fluid {
  max-width: 1280px !important;
}

@media (max-width: 1036px) {
  ul.route li {
    max-width: none;
    padding-right: 30px;
    &:after {
      top: 30px;
      width: 20px;
    }
    h2 {
      font-size: 1.4em;
    }
    h4 {
      font-size: 1.1em;
    }
  }
}

@media (max-width: 992px) {
  .full-tour-banner .over {
    padding-bottom: 60%;
    img {
      min-width: 100%;
      width: auto;
      height: auto;
      min-height: 100%;
    }
  }
}

@media (max-width: 769px) {
  .hidden-phone {
    display: none !important;
  }
  .full-tour-banner .over {
    position: static;
    overflow: auto;
    display: block;
    padding-bottom: 0;
    height: auto;
    width: 100%;
    img {
      position: static;
      width: 100%;
      height: auto;
    }
    .bg-dark {
      position: static;
      background-color: transparent !important;
      h1, h2, h3, h4 {
        color: #000;
      }
    }
    .inner {
      position: static;
      margin: 0;
      width: 100%;
      transform: none;
    }
    .cta.light, .btn.light {
      color: #000;
      border-color: #000;
    }
    .bottom-data {
      position: static;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          position: relative;
          padding-right: 50px;
          &:after {
            content: "";
            display: block;
            position: absolute;
            vertical-align: middle;
            top: 15px;
            right: 0;
            width: 40px;
            height: 1px;
            border-top: dashed 2px #000;
          }
        }
      }
    }
  }
}