//colors
$fa-font-path:   "../fonts";
$color_tuna_approx: #fdba47;
$color_storm_dust_approx: #666;
$color_picton_blue_approx: #fdba47;
$color-nav-hover:#c89134;
$concrete: #f2f2f2;
$black_33: rgba(0,0,0,0.33);
$white: white;
$black: black;
$wild_sand: #f4f4f4;
$color_bahama_blue_approx: #006699;
$color_blue_stone_approx: #006666;
$main-orange: #fdba47;
//fonts
$font_0: Open Sans;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;

//urls
$url_0: url(../img/home-bg.jpg);